name: Build with Make

on:
  push:
    branches: '*'
    tags: '*'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: "Install dependencies"
      run: sudo apt-get install -y build-essential gfortran liblapack-dev libblas-dev openmpi-bin openmpi-common libopenmpi-dev
    - name: Build GRASP
      run: make
    - name: Verify binaries
      run: ./contrib/checkbin.sh
